body {
	background-color:#f2f2f2;
}


#main_page_header {
	background-color:#1aa3ff;
	height:100px;
	margin:0;
	padding-top:0px;
	border-top:0px;
	color: #ffffff;
}

main {
	margin:5px;
}

#main_page_header h2 {
	margin:0;
}


#video {
	display: flex;
	justify-content: center;
	align-items: center;
}

#submit {
	background-color: #1aa3ff
}

#text_header {
	padding-top:30px;
	margin-left:5px;
}