body {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: auto auto repeat(4, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.header { 
    grid-area: 1 / 1 / 2 / 4; 
    padding: var(--normal-spacing);
}
.header2 { 
    grid-area: 2 / 1 / 3 / 4; 
    margin: 29px auto;
}
.introduction { 
	grid-area: 3 / 1 / 4 / 4; 
	color: var(--dark-text-color);
    display: inline-block;
    text-align: center;
    margin: 0 10% 34px 10%;
    font-size: 22px;
}
.vision { 
	grid-area: 4 / 1 / 5 / 3; 
	background-color: var(--primary-color);
	padding: var(--normal-spacing);
	margin: var(--normal-spacing) 0;
}
.audience { 
	grid-area: 5 / 2 / 6 / 4; 
	background-color: var(--primary-color);
	padding: var(--normal-spacing);
	margin: var(--normal-spacing) 0;
}
.showcase { 
	grid-area: 6 / 1 / 7 / 3; 
	background-color: var(--primary-color);
	padding: var(--normal-spacing);
	margin: var(--normal-spacing) 0;
}

.introduction p { 
    margin: 0;
}

.overview_header{
    font-size: 24px;
    text-shadow: 1px 1px var(--dark-text-color);
}

.overview_content{
    font-size: 18px;
    text-shadow: 1px 1px var(--dark-text-color);
}

.previewImage {
	max-width:48.5%;
	height:auto;
	margin: 0.5%;
}

.overview_header {
	text-align: start;
}

#audienceHeader {
	text-align: end;
}

#audienceContent {
	text-align: end;
}

@media screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, auto);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.header { grid-area: 1 / 1 / 2 / 2; }
	.header2 { grid-area: 2 / 1 / 3 / 2; }
	.introduction { grid-area: 3 / 1 / 4 / 2; }
	.vision { grid-area: 4 / 1 / 5 / 2; }
	.audience { grid-area: 5 / 1 / 6 / 2; }
	.showcase { grid-area: 6 / 1 / 7 / 2; }
	
	.overview_header {
		text-align: center;
	}
	
	.overview_content {
	    text-align: center;
	}
	
	#audienceHeader {
		text-align: center;
	}
	
	#audienceContent {
		text-align: center;
	}

	.previewImage {
		max-width:100%;
		height:auto;
		margin: 10px 0;
	}	
}