body {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: repeat(4, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.header { 
    grid-area: 1 / 1 / 2 / 4; 
    padding: var(--normal-spacing);
}

.header2 { 
    grid-area: 2 / 1 / 3 / 4; 
    margin: 29px auto;
}

.introduction { 
	grid-area: 3 / 1 / 4 / 4; 
	color: var(--dark-text-color);
    display: inline-block;
    text-align: center;
    margin: 0 10% 34px 10%;
    font-size: 22px;
}

	.introduction p { 
    	margin: 0;
	}

.blog {
	grid-area: 4 / 1 / 5 / 3; 
}

.blog_navigation {
	grid-area: 4 / 3 / 5 / 4;
}

.blog_button {
	background-color: var(--action-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    cursor: pointer;
    color: var(--dark-text-color);
    padding: var(--normal-spacing);
    border: none;
    font-size: 22px;
    width: 90%;
    float: right;
   	margin: 12px 0;
}

.blog_post {
	background-color: var(--primary-color);
	padding: var(--normal-spacing);
	margin: var(--normal-spacing) 0;
	min-height: 128px;
}

.blog_image {
	height: 128px;
	width: 128px;
	margin: 0 var(--normal-spacing) 0 0;
	float: left;
}

.blog_author {
	font-size: 26px;
	margin: 2px 0 12px 0;
   	text-shadow: 1px 1px var(--dark-text-color);
   	text-align: start;
   	display: inline-block;
}

.blog_date {
	font-size: 22px;
	margin: 2px 0 0 0;
	float: right;
   	text-shadow: 1px 1px var(--dark-text-color);
   	text-align: start;
}

.blog_content {
	font-size: 18px;
   	text-shadow: 1px 1px var(--dark-text-color);
   	text-align: start;
   	margin: 0;
}

@media screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, auto);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.header { grid-area: 1 / 1 / 2 / 2; }
	.header2 { 
		grid-area: 2 / 1 / 3 / 2;
		width: 92%;
		margin: 0 auto 29px auto; 
	}
	.introduction { grid-area: 3 / 1 / 4 / 2; }
	.blog { grid-area: grid-area: 4 / 1 / 5 / 2; }
	
	.blog_navigation {
		display: none;
	}
	
	
	
	
	
	
	
	/* move to main.css once happy */
	.navbar {
	    width: 100%;
	    float: none;
	    color: var(--dark-text-color);
	}
	
	.navbar_item img {
		margin: 0;
	}
	
	.navbar_item {
		padding: 3%;
		margin: 0;
	}
	
	.header_title {
		width: auto;
	}
	
	.header_logo {
		margin: 12px;
	}
	
	.accent_horizontalRule--desktop {
		display: none;
	}
	
	.accent_horizontalRule--mobile {
		display: block;
	}
}

.navbar{
	text-align-last: center;
}

.navbar img {
	width: 18px;
}

	.accent_horizontalRule--desktop {
		display: block;
	}
	
	.accent_horizontalRule--mobile {
		display: none;
	}