body {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.header { 
    grid-area: 1 / 1 / 2 / 4; 
    padding: var(--normal-spacing);
}
.header2 { 
    grid-area: 2 / 1 / 3 / 4; 
    margin: 29px auto;
	max-width: 97%;
}
.quotes { 
    grid-area: 3 / 1 / 4 / 2; 
    background-color: var(--primary-color);
    padding: var(--normal-spacing);
}
.video { 
	grid-area: 3 / 2 / 4 / 3;
	background-color: var(--primary-color);
	display: grid;
}
.overview { 
    grid-area: 3 / 3 / 4 / 4; 
    background-color: var(--primary-color);
    padding: var(--normal-spacing);
}

.video video {
	width: 100%;
	display: block;
	margin: auto;
}

.quotes p, .quotes p span {
	text-shadow: 1px 1px var(--dark-text-color);
}

.quote_accent {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--accent-color);
}

.quote_primary {
    font-size: 26px;
    width: 90%;
    padding: 2% 5%;
}

.quote_primary .quote_accent {
    font-size: 30px;
}

.quote_secondary {
    font-size: 22px;
    text-align: right;
    margin-left: 20%;
    padding: 5%;
}

.quote_secondary .quote_accent {
    font-size: 26px;
}

.quote_tertiary {
    font-size: 24px;
    width: 70%;
    margin: 0 auto;
    padding: 5%;
    padding-right: 10%;
    text-align: center;
    float: middle;
}

.quote_tertiary .quote_accent {
    font-size: 28px;
}

.overview_header{
    margin: 0;
    text-align: center;
    font-size: 24px;
    padding: var(--normal-spacing);
    text-shadow: 1px 1px var(--dark-text-color);
}

.overview_content{
    margin: 0;
    text-align: center;
    font-size: 18px;
    padding: var(--normal-spacing);
    text-shadow: 1px 1px var(--dark-text-color);
}

@media screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, auto);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}
	
	.header { grid-area: 1 / 1 / 2 / 2; }
	.header2 { 
		width: auto;
		grid-area: 2 / 1 / 3 / 2; 
		margin: 0 auto 29px auto;
	}
	.video { grid-area: 3 / 1 / 4 / 2; }
	.quotes { grid-area: 4 / 1 / 5 / 2; }
	.overview { grid-area: 5 / 1 / 6 / 2; }
}