body {
    color: var(--light-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0;
}

.accent_horizontalRule {
    height: 1px;
    border: 0;
    color: var(--accent-color); /* old IE */
    background-color: var(--accent-color);
}

.header_logo 
{
    height: 56px;
    width: 56px;
    vertical-align: middle;
}

.header_title 
{
    display:inline-block;
    color: var(--header-text-color);
    font-size: 38px;
    font-weight: 300;
    vertical-align: middle;
    margin: 0;
}

.subheader_title 
{
    color: var(--header-text-color);
    font-size: 36px;
    text-align: center;
    margin: var(--normal-spacing) 40px;
    font-weight: 300;
}

.button {
    background-color: var(--action-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: white;
    height: 35px;
    border: none;
    font-size: 18px;
    width: 135px;
}

.link {
	color: var(--light-text-color);
	text-shadow: none;
	text-shadow: 1px 1px var(--dark-text-color);
}

.navbar {
    float: right;
    margin: 0;
    color: var(--dark-text-color);
    text-align-last: center;
}

.navbar_item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 var(--normal-spacing) 6px var(--normal-spacing);
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    color: var(--dark-text-color);
}

	.navbar_item img {
		width: 18px;
	}
	
	.navbar_item p {
	    text-align: center;
	    margin: 0;
	}

@media screen and (max-width: 600px) {
	.header_title {
	    font-size: 4.5vw;
	    display: inline-block;
	    width: auto;
	}
	
	.header_logo 
	{
    	height: 10%;
    	width: 10%;
    	margin: 12px;
	}
	
	.subheader_title {
		margin: var(--normal-spacing) 40px 32px 40px;
	}
	
	.navbar {
	    width: 100%;
	    float: none;
	    color: var(--dark-text-color);
	}
	
	.navbar_item {
		padding: 3%;
		margin: 0;
	}

		.navbar_item img {
			margin: 0;
		}

	.accent_horizontalRule--desktop {
		display: none;
	}
	
	.accent_horizontalRule--mobile {
		display: block;
	}
}