body {
    color: var(--light-text-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0;
}

.accent_horizontalRule
{
    height: 1px;
    border: 0;
    color: var(--accent-color); /* old IE */
    background-color: var(--accent-color);
}

.header_logo 
{
    height: 56px;
    width: 56px;
    vertical-align: middle;
}

.header_title 
{
    display:inline-block;
    color: var(--header-text-color);
    font-size: 38px;
    font-weight: 300;
    vertical-align: middle;
    margin: 0;
}

.subheader_title 
{
    color: var(--header-text-color);
    font-size: 36px;
    text-align: center;
    margin: var(--normal-spacing) 40px;
    font-weight: 300;
}

.button {
    background-color: var(--action-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    color: white;
    height: 35px;
    border: none;
    font-size: 18px;
    width: 135px;
}

.link {
	color: var(--light-text-color);
	text-shadow: none;
	text-shadow: 1px 1px var(--dark-text-color);
}

.navbar {
    float: right;
    margin: 0;
    color: var(--dark-text-color);
}

.navbar_item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 var(--normal-spacing) 6px var(--normal-spacing);
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    color: var(--dark-text-color);
}

.navbar_item p {
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 600px) {
	.header_title 
	{
	    font-size: 6.8vw;
	}
}