:root {
    --primary-color: #006fa3;
    --accent-color: #a38800;
    --action-color: #f28500;

    --light-text-color: #e6e6e6;
    --dark-text-color: #383838;
    --header-text-color: var(--primary-color);

    --normal-spacing: 12px;
}