body {
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: repeat(8, auto);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

.header { 
    grid-area: 1 / 1 / 2 / 4; 
    padding: var(--normal-spacing);
}

.header2 { 
    grid-area: 2 / 1 / 3 / 4; 
    margin: 29px auto;
}

.introduction { 
	grid-area: 3 / 1 / 4 / 4; 
	color: var(--dark-text-color);
    display: inline-block;
    text-align: center;
    margin: 0 10% 34px 10%;
    font-size: 22px;
}

	.introduction p { 
    	margin: 0;
	}

.team {
	background-color: var(--primary-color);
	padding: var(--normal-spacing);
	margin: var(--normal-spacing) 0;
}

	.team--olivia { 
		grid-area: 4 / 1 / 5 / 3; 
	}
	
	.team--rob { 
		grid-area: 5 / 2 / 6 / 4; 
	}
	
	.team--jaymz { 
		grid-area: 6 / 1 / 7 / 3; 
	}
	
	.team--ben { 
		grid-area: 7 / 2 / 8 / 4; 
	}
	
	.team--kelly { 
		grid-area: 8 / 1 / 9 / 3; 
	}
	
	.team_image {
		width:256px;
	}
	
		.team_image--even {
			float:left;
			margin:0 var(--normal-spacing) 0 0;
		}
		
		.team_image--odd {
			float:right;
			margin:0 0 0 var(--normal-spacing);
		}
		
	.team_header {
		font-size: 30px;
		margin: 12px 0 20px 0;
    	text-shadow: 1px 1px var(--dark-text-color);
	}
	
		.team_header--even {
			text-align: start;
		}
					
		.team_header--odd {
			text-align: end;
		}
	
	.team_subheader {
		font-size: 24px;
		margin: 12px;
    	text-shadow: 1px 1px var(--dark-text-color);
	}
	
		.team_subheader--even {
			text-align: start;
		}
					
		.team_subheader--odd {
			text-align: end;
		}

	.team_content {
		font-size: 18px;
    	text-shadow: 1px 1px var(--dark-text-color);
	}
	
		.team_content--even {
			text-align: start;
		}
					
		.team_content--odd {
			text-align: end;
		}

@media screen and (max-width: 600px) {
	body {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, auto);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
	}

	.header { grid-area: 1 / 1 / 2 / 2; }
	.header2 { 
		grid-area: 2 / 1 / 3 / 2;
		width: 92%;
		margin: 0 auto 29px auto; 
	}
	.introduction { grid-area: 3 / 1 / 4 / 2; }
	.team--olivia { grid-area: 4 / 1 / 5 / 2; }
	.team--rob { grid-area: 5 / 1 / 6 / 2; }
	.team--jaymz { grid-area: 6 / 1 / 7 / 2; }
	.team--ben { grid-area: 7 / 1 / 8 / 2; }
	.team--kelly { grid-area: 8 / 1 / 9 / 2; }
	
	.team_header {
		text-align: center;
	}
	
	.team_subheader {
		text-align: center;
	}
	
	.team_content {
	    text-align: center;
	}
	
	.team_image {
	    display: block;
	    margin: auto;
	    float: none;
	}
	
	
	
	
	
	/* move to main.css once happy */
	.navbar {
	    width: 100%;
	    float: none;
	    color: var(--dark-text-color);
	}
	
	.navbar_item img {
		margin: 0;
	}
	
	.header_title {
		width: auto;
	}
	
	.header_logo {
		margin: 12px;
	}
	
	.accent_horizontalRule--desktop {
		display: none;
	}
	
	.accent_horizontalRule--mobile {
		display: block;
	}
}

.navbar{
	text-align-last: center;
}

.navbar img {
	width: 18px;
}

	.accent_horizontalRule--desktop {
		display: block;
	}
	
	.accent_horizontalRule--mobile {
		display: none;
	}